
body{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin: 0
}
.flexible-container
#welcome{
    padding-left: ;
    color: rosybrown;
}
.fst-class{
    margin-left: 0;
    width: 45%;
    padding: 2%;
    
}
.top-sec{
    background-image: url(image/pexels-photo-399161.jpeg);
    background-repeat: no-repeat;
    display: flex;
    background-size:100%;
    padding-bottom: 0px;
    margin-bottom: 0px;

}
#my-pic{
    image-resolution: 150%;
    padding-left: 45%;
    padding-right: 5%;
    padding-bottom: 5%;
    
}
.sec-sec{
    background-image: url(image/pexels-photo-683402.png);
    background-repeat: no-repeat;
    display: flex;
}
.fst-class img{
    width: 70%;
}
#text-one{
    color: rgb(134, 0, 105);
    font-size: 34px;
    width: 90;
    border: black solid 10px;
    box-shadow: springgreen;
    border-radius: 15px;
    padding: 20px 25px 20px 35px;
}
#text-two{
    font-size: 35px;
    color: brown;
}
.fb-link{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}